[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
pytest = "*"
python-dotenv = "*"
isort = "*"
coverage = "*"
pipenv = "*"
bump2version = "*"
twine = "*"
mypy = "*"
requests-mock = "*"
autoflake = "*"

[packages]
requests = "*"
furl = "*"
jwcrypto = "*"

[requires]
python_version = "3.6"
